/* SideBar Wrapper */
.sideBarWrapper {
  max-width: 350px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
}

/* Logo and Toggle Button */
.sideBarConatiner {
  display: flex;
  align-items: center;
  margin-left: 105px;
  padding: 20px 0px;
  gap: 14px;
}

.sideBarConatiner img {
  width: 40px;
  height: 40px;

}
.sideBarConatiner span {
  font-size: 28px;
  font-weight: 900;
  font-family: sans-serif;
  color: #2c7be5;
}

/* SideBar Toggle Button */
.toggleWrapper {
  position: relative;
}
.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5e6e82;
  border: none;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: #d8e2ef 0.2s ease;
}
.toggleButton .toggleToolTip {
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 4px;
  position: absolute;
  top: 20%;
  left: 110%;
  white-space: nowrap;
  transition: opacity 0.2s ease;
  z-index: 10;
}
.toggleButton:hover {
  background-color: #d8e2ef;
}
.toggleButton:hover .toggleToolTip {
  visibility: visible;
  opacity: 1;
}

/* Items Wrapper */
.itemsWrapper {
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 20px;
}
